# Logs
logs/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
*.pyc

# Virtual Environments
.venv
venv

# Environment Files
.env

# Databases (Immutable Ledger)
*.db
*.sqlite3
*.sqlite

# macOS
.DS_Store

# Metadata directory for "samdas" package.
*.egg-info/